@import '@styles/vars';

.wrapper {
  width: 200%;
  transition: $transition2 ease;
  opacity: 0;
  padding: 0 16px;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;

  &.active {
    padding: 10px 16px;
    max-height: 100px;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    background: $surfaceColor;
    z-index: 100;
    border-radius: $borderRadius2;
  }

  @include breakpoint(sm) {
    position: absolute;
    top: calc(100% - 20px);
    width: 200px;
  }
}

.item {
  padding: 5px 0;
}