@import '@styles/vars';

.wrapper {
  width: 100%;
  transition: all $transition2 ease;
  pointer-events: none;
  z-index: 100;
  background: $surfaceColor;

  &.active {
    pointer-events: all;

    & .content {
      max-height: 800px;
      opacity: 1;
    }

    @include breakpoint(lg) {
      & .content {
        max-height: 500px;
      }
    }
  }

  @include breakpoint(lg) {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 100;
  }
}

.content {
  transition: all $transition2 ease;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
    "frontend"
    "cms"
    "backend"
    "uxUi"
    "qa"
    "customService"
    "web3";

  @include breakpoint(lg) {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr); // Три колонки
    grid-template-areas:
      "frontend uxUi web3"
      "cms qa ."
      "backend customService .";
  }
}

.frontend {
  grid-area: frontend;
}

.cms {
  grid-area: cms;
}

.backend {
  grid-area: backend;
}

.uXUi {
  grid-area: uXUi;
}

.qa {
  grid-area: qa;
}

.customService {
  grid-area: customService;
}

.web3 {
  grid-area: web3;
}

.link {
  display: flex;
  gap: 6px;
  width: 100%;
  max-width: 100%;
  padding: 12px;
  position: relative;
  transition: all $transition2 ease;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 50%;
    width: 2px;
    height: 0;
    transition: $transition2 ease;
    background: rgba($textColor2 ,.5);
  }

  &.isActive {
    transform: translateX(6px);

    &::after {
      bottom: 0;
      height: 100%;
    }
  }

  @include breakpoint(lg) {
    max-width: 400px;

    &:hover {
      transform: translateX(6px);

      &::after {
        bottom: 0;
        height: 100%;
      }
    }
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
  display: block;
}

.description {
  color: $textColor;
  font-size: 14px;
  margin-top: 10px;
}


.icon {
  min-width: 28px;
  max-width: 28px;
  max-height: 28px;
}