@import "@styles/vars";

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 26px;

  @include breakpoint(md) {
    gap: 26px;
  }

  &:hover {
    button {
      background-color: $primaryColor;
      color: white;

      &::after {
        height: calc(100%);
        width: calc(100%);
      }
    }
    svg {
      animation: bounce .8s ease infinite;

      path {
        fill: black;
        transition: $transition2 ease;
      }
    }
  }

  svg {
    transform: rotate(-45deg);
  }
}

.linkDesc {
  font-size: 26px;
  color: $textColor;
  font-weight: 600;

  @include breakpoint(md) {
    font-size: 32px;
  }
}

@keyframes bounce {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  50% {
    transform: rotate(-45deg) translate(5px, 0px);
  }
  100% {
    transform: rotate(-45deg) translate(0, 0);
  }
}