@import "@styles/vars";

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @include breakpoint(md) {
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}