@import "@styles/vars";

.wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;

  .contactUsBtn {
    display: none;

    @include breakpoint(sm) {
      display: inline-flex;
    }
  }
}

.contactUsBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: max-content;
  padding: 9px 32px;
  font-weight: 600;
  background: $primaryColor2;
  color: $textColor2;
  font-size: 18px;
  transition: $transition2 ease;
  border-radius: $borderRadius2;

  &:hover {
    background-color: $primaryColor;
    color: white;
  }

  @include breakpoint(xl) {
    font-size: 24px;
  }
}