@import '@styles/vars';

.mainBtn {
  background: $primaryColor2;
  color: $textColor2;
  font-size: 18px;
  font-family: $primaryFont;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-radius: var(--border-radius, $borderRadius2);
  border: none;
  padding: 9px 32px;
  font-weight: 600;
  transition: background-color $transition1 ease, color $transition1 ease;
  min-width: max-content;

  &.fullWidth {
    width: 100%;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform $transition2 ease;
    will-change: transform;
  }

  &:hover {
    background-color: $primaryColor;

    .icon {
      transform: translateX(5px);
    }
  }

  &.isBig {
    padding: 14px 32px;
  }

  &.isGradient {
    padding: 4px 32px;
    font-weight: 500;
    position: relative;
    background: linear-gradient(var(--gradient-direction-main-btn, to right), rgba($mainBtnGradient1, 0.2), $mainBtnGradient2 100%) 0 0% / 200% 100%;
    background-size: 200% 100%;
    transition: background-position $transition1 ease;

    &:hover {
      background-position: 100% 0;
    }
  }

  @include breakpoint(lg) {
    font-size: 24px;
  }
}