@import '@styles/vars';

.mainBtn, .borderGradientBtn {
  font-family: $primaryFont;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-radius: var(--border-radius, $borderRadius2);
  border: none;
  padding: 9px 32px;
  font-weight: 600;
  transition: background-color $transition1 ease, color $transition1 ease;
  min-width: max-content;

  &.fullWidth {
    width: 100%;
  }
}

.borderGradientBtn {
  font-size: 16px;
  color: $textColor;
  background: $surfaceColor;

  &::after {
    position: absolute;
    content: '';
    height: calc(100% + 3px);
    width: calc(100% + 3px);
    border-radius: var(--border-radius, $borderRadius2);
    z-index: -1;
    transition: all $transition1 ease;
  }

  &.greenBorderColor {
    &::after {
      background: linear-gradient(var(--gradient-direction, to bottom), rgba($primaryColor, 0.2), $primaryColor 100%);
    }

    &:hover {
      background-color: $primaryColor;
      color: white;
    }
  }
  &.blueBorderColor {
    &::after {
      background: linear-gradient(var(--gradient-direction, to bottom), rgba($thirdColor, 0.2), $thirdColor 100%);
    }

    &:hover {
      background-color: $thirdColor;
      color: white;
    }
  }
  &.lightBlueBorderColor {
    &::after {
      background: linear-gradient(var(--gradient-direction, to bottom), rgba($fourthColor, 0.2), $fourthColor 100%);
    }

    &:hover {
      background-color: $fourthColor;
      color: white;
    }
  }
  &.darkGreenBorderColor {
    &::after {
      background: linear-gradient(var(--gradient-direction, to bottom), rgba($fifthColor, 0.2), $fifthColor 100%);
    }

    &:hover {
      background-color: $fifthColor;
      color: white;
    }
  }

  &:hover {
    &::after {
      height: calc(100%);
      width: calc(100%);
    }
  }

  &:disabled {
    opacity: .8;
    pointer-events: none;

    &::after {
      background: transparent;
    }
  }

  &.isOnlyIcon {
    padding: 12px;
    min-height: 46px;
    min-width: 46px;

    &:hover .label {
      transform: scale(1.1);
    }
  }

  &.isRoundedsmall, &.isRoundedlarge {
    --border-radius: 50%;
    font-size: 16px;
    padding: 12px;

    &:hover .label {
      transform: scale(1.1);
    }
  }

  &.isRoundedsmall {
    min-width: 40px;
    min-height: 40px;

    @include breakpoint(lg) {
      min-width: 46px;
      min-height: 46px;
    }
  }

  &.isRoundedlarge {
    min-width: 80px;
    min-height: 80px;

    @include breakpoint(lg) {
      min-width: 120px;
      min-height: 120px;
    }
  }

  &.isGradienttoTop {
    --gradient-direction: to top;
  }

  &.isGradienttoBottom {
    --gradient-direction: to bottom;
  }

  &.isGradienttoTopRight {
    --gradient-direction: to top right;
  }

  &.isGradienttoBottomLeft {
    --gradient-direction: to bottom left;
  }

  &.isGradienttoLeft {
    --gradient-direction: to left;
  }

  &.isGradienttoRight {
    --gradient-direction: to right;
  }

  &.isMonotoneBorder {
    border: 1px solid rgba($primaryColor, 0.2);

    &::after {
      background: initial;
    }
  }

  @include breakpoint(lg) {
    font-size: 20px;
  }
}

.mainBtn {
  background: $primaryColor2;
  color: $textColor2;
  font-size: 18px;

  .icon {
    transition: transform $transition2 ease;
    will-change: transform;
  }

  &:hover {
    background-color: $primaryColor;
    color: white;

    .icon {
      transform: translateX(5px);
    }
  }

  &.isBig {
    padding: 14px 32px;
  }

  &.isGradient {
    padding: 4px 32px;
    font-weight: 500;
    position: relative;
    background: linear-gradient(var(--gradient-direction-main-btn, to right), rgba($mainBtnGradient1, 0.2), $mainBtnGradient2 100%) 0 0% / 200% 100%;
    background-size: 200% 100%;
    transition: background-position $transition1 ease;

    &:hover {
      background-position: 100% 0;
    }
  }

  @include breakpoint(lg) {
    font-size: 24px;
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  display: inline-flex;
  align-items: center;

  &.isIconSeparated {
    padding-right: 10px;
    border-right: 1px solid rgba($borderColor3, 0.2);
  }
}