@import "@styles/vars";

.wrapper {
  height: calc(100% - 80px);
  width: 100%;
  position: fixed;
  top: 80px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
  transition: $transition2;
  background: $surfaceColor;
  padding: 20px 16px;
  z-index: 100;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(md) {
    height: 100%;
    background: transparent;
    padding: 0;
    top: 0;
    position: static;
    opacity: initial;
    pointer-events: auto;
    visibility: visible;
    transform: initial;
    overflow: initial;
  }

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .contactUsBtnMobile {
    display: inline-flex;
    width: 100%;

    @include breakpoint(sm) {
      display: none;
    }
  }
}

.navList {
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    height: 100%;
    flex-direction: row;
    gap: 16px;
  }
  @include breakpoint(lg) {
    gap: 24px;
  }
}