@import "@styles/vars";

.wrapper {
  position: relative;
}

.swiper {
  overflow: visible;
  transform: translateX(0px);
  transition: $transition2 ease;

  :global {
    .swiper-wrapper {
      display: flex;
      align-items: stretch;
      min-height: 402px;
      max-height: 402px;
    }

    .swiper-slide {
      height: auto !important;
      transition: $transition2 ease;
      min-width: calc(33.33% - 16px);

      @include breakpoint(md) {
        min-width: calc(50% - 16px);
      }

      @include breakpoint(lg) {
        min-width: calc(33.33% - 16px);

        &-next {
          min-width: 33.33%;
        }
      }

      > div {
        background: $cardColo2;
        border-radius: $borderRadius4;
      }

      @include breakpoint(lg) {
        &-active:hover,
        &-next:hover,
        &-prev:hover {
          min-width: calc(33.33% + 200px);

          > div {
            background: $cardColor!important;
          }

          p {
            transform: scaleY(1.1);
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
