@import "@styles/vars";

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.solutionList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 15px;
  width: 100%;

  @include breakpoint(lg) {
    gap: 32px;
    padding: 20px;
    width: 100%;
  }
}

.solutionItemWrapper {
  display: grid;
  grid-template-rows: minmax(32px, auto) 0fr;
  transition: $transition2 ease;
  padding: 0 24px;
  gap: 0;

  &.isCurrentTab {
    background: $cardColor;
    border-radius: $borderRadius2;
    padding: 24px;
    gap: 8px;
    grid-template-rows: minmax(32px, auto) 1fr;
  }
}

.solutionItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $textColor2;
  font-size: 20px;
  font-weight: 500;
  text-align: left;

  @include breakpoint(lg) {
    font-size: 24px;
  }

  img {
    min-width: 24px;
    max-width: 24px;
    max-height: 24px;
  }

  &.isDescription {
    cursor: pointer;
  }
}

.description {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $textColor;
  padding-left: 34px;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  white-space: pre-line;

  &.isCurrentTab {
    opacity: 1;
    pointer-events: auto;
  }
}