@import "@styles/vars";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  position: relative;
  background: $surfaceColor;
  border-radius: $borderRadius2;
  z-index: 1;
}

.centerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .logo {
    @include breakpoint(md) {
      max-width: 250px;
    }
  }
}

.image {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;

  img {
    object-fit: cover;
  }
}