@import "@styles/vars";

.heroSection {
  overflow: hidden;
  position: relative;
  margin-top: 80px;

  &.isAboutUsPage {
    padding: 0;

    .content {
      padding: 40px 16px 20px;

      @include breakpoint(lg) {
        padding: 60px 16px 50px;
      }
    }
  }
}

.content {
  position: relative;

  &.isNoHomePage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    @include breakpoint(lg) {
      flex-direction: row;
    }

    .contentWrapper {
      margin-top: 0;
    }
  }
}

.allPageImage {
  @include breakpoint(xl) {
    margin-right: -110px;
  }

  &.isAboutUsPage {
    margin: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;

    @include breakpoint(lg) {
      top: 0;
      right: -200px;
    }
  }
}

.homePageImage {
  position: absolute;
  top: -40px;
  right: -250px;
  width: 800px;
  z-index: -1;

  @include breakpoint(md) {
    top: -80px;
    right: -280px;
    width: 900px;
  }
}

.bottomBgImage {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  pointer-events: none;
  max-width: 1920px;
  margin: 0 auto;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }

  &.frontendDevelopmentPage {
    display: block;
    &::after {
      background: linear-gradient(
                      to right,
                      #123436 10%,
                      #16181E 50%,
                      #123436 90%
      );
    }
  }

  &.cmsPage {
    display: block;
    &::after {
      background: linear-gradient(
                      to right,
                      #31B76F 10%,
                      #16181E 50%,
                      #31B76F 90%
      );
    }
  }

  &.backendDevelopmentPage {
    display: block;
    &::after {
      background: linear-gradient(
                      to right,
                      #6730AB 10%,
                      #181920 50%,
                      #6730AB 90%
      );
    }
  }

  &.uiUxDesignPage {
    display: block;
    &::after {
      background: linear-gradient(
                      to right,
                      #113335 10%,
                      #16181D 50%,
                      #113335 90%
      );
    }
  }

  &.qaPage {
    display: block;
    &::after {
      background: linear-gradient(
                      to right,
                      #113335 10%,
                      #16181D 50%,
                      #113335 90%
      );
    }
  }

  &.customServicePage {
    display: block;
    &::after {
      background: linear-gradient(
                      to right,
                      #113335 10%,
                      #16181D 50%,
                      #113335 90%
      );
    }
  }

  &.web3Page {
    display: block;
    &::after {
      background: linear-gradient(
                      to right,
                      #113335 10%,
                      #16181D 50%,
                      #113335 90%
      );
    }
  }
}

.contentWrapper {
  display: flex;
  gap: 32px;
  flex-direction: column;

  @include breakpoint(md) {
    gap: 48px;
  }
}