.container{
  &-large {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
  &-xl{
    max-width: 1351px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
  }
}