@import "@styles/vars";

.section {
  padding: 20px 0;

  @include breakpoint(lg) {
    padding: 40px 0;
  }
}

.additionalContentWrapper {
  max-width: 1670px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 200px;

  img {
    object-fit: contain;
  }
}

.logosSwiper {
  width: 100%;
  overflow: visible!important;
  height: 50px;
  margin-top: 32px;

  :global {
    .swiper-wrapper {
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
    }
  }
}