@import "@styles/vars";

.wrapper {
  padding: 4px 32px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  background: linear-gradient(var(--gradient-direction-main-btn, to right), rgba($mainBtnGradient1, 0.2), $mainBtnGradient2 100%) 0 0% / 200% 100%;
  background-size: 200% 100%;
  border-radius: $borderRadius2;
  color: $textColor2;
}