// Main colors
$primaryColor: #31B76F;
$secondaryColor: #6D31B7;

// Accent colors
$accentColor: #FF8C42;

// Background colors
$backgroundColor: #0D1117;

// Text colors
$textColor: #BDBDBD;

// Surface colors
$surfaceColor: #16181E;

// Card colors
$cardColor: #21242D;

// Info colors
$infoColor: #31A2FF;

// Warning colors
$warningColor: #FFC107;

// Error colors
$errorColor: #E63946;

// Success colors
$successColor: #31B76F;