// Main colors
$primaryColor: #31B76F;
$primaryColor2: #1B653D;
$primaryColorLight: #6FDA44;
$secondaryColor: #6D31B7;
$thirdColor: #1255FC;
$fourthColor: #2865B0;
$fifthColor: #17313B;
$sixthColor: #3B8FF3;

// Accent colors
$accentColor: #FF8C42;

// Background colors
$backgroundColor: #0D1117;
$backgroundColor2: #31B76F80;
$backgroundColor3: #192634;
$backgroundColor4: #24262B;

// Text colors
$textColor: #BDBDBD;
$textColor2: #F8F8F8;
$textColor3: #98989A;
$textColor4: #838E9E;
$textColor5: #6C32B8;
$textColor6: #42526B;
$textColor7: #636468;

//Border colors
$borderColor: #3D4144;
$borderColor2: #F8F8F8;
$borderColor3: #0E76A8;
$borderColor4: #262626;

// Surface colors
$surfaceColor: #16181E;

// Card colors
$cardColor: #21242D;
$cardColo2: #0F1823;
$cardColo3: #16181D;
$cardColo4: #171B20;

// Info colors
$infoColor: #31A2FF;

// Warning colors
$warningColor: #FFC107;

// Error colors
$errorColor: #E63946;

// Success colors
$successColor: #31B76F;

//Gradient colors
$mainBtnGradient1: #6D31B733;
$mainBtnGradient2: #31A2FF33;