$breakpoints: (
  xs: 375px,
  xs2: 430px,
  sm: 576px,
  md: 768px,
  md2: 800px,
  lg: 1024px,
  lg2: 1140px,
  lg3: 1300px,
  xl: 1440px,
  xxl: 1720px
);

//mixin
@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size) {
    @media (min-width: map-get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @error "Breakpoint `#{$size}` not found in $breakpoints map.";
  }
}