@import "colors";
@import "media";

//fonts
$primaryFont: 'DMSans', sans-serif;

//transitions
$transition1: .1s;
$transition2: .3s;
$transition3: .6s;

//borders
$borderRadius1: 6px;
$borderRadius2: 10px;
$borderRadius3: 12px;
$borderRadius4: 16px;