@import "colors";
@import "media";

//fonts
$primaryFont: 'DMSans', sans-serif;

//transitions
$transition1: .1s;
$transition2: .3s;
$transition3: .4s;
$transition4: .8s;

//borders
$borderRadius1: 6px;
$borderRadius2: 10px;
$borderRadius3: 12px;
$borderRadius4: 16px;

//shadows
$boxShadow1: 1px 1px 7px rgba(0, 0, 0, .49);;