@import "@styles/vars";

.wrapper {
  background: $surfaceColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $borderRadius4;
  position: relative;
  z-index: 1;
  padding: 32px;
  gap: 16px;
  border: .5px solid rgba($primaryColor, .8);

  @include breakpoint(md) {
    gap: 32px;
  }
  @include breakpoint(lg) {
    flex-direction: row;

    &:nth-child(3n + 2),
    &:nth-child(3n + 3) {
      flex-direction: column;
    }
  }
}

.isEllipseAllBrowsers {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 220px;
    background: $backgroundColor2;
    filter: blur(150px);
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
  }
}

.isEllipseSafari {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 1px;
    background: $backgroundColor2;
    box-shadow: 0 0 230px 100px $backgroundColor2; // Внешнее размытие
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
    opacity: .8;
  }
}

.service1 {
  @include breakpoint(lg) {
    grid-area: service1;
  }
}

.service2 {
  @include breakpoint(lg) {
    grid-area: service2;
  }
}

.service3 {
  @include breakpoint(lg) {
    grid-area: service3;
  }
}

.service4 {
  @include breakpoint(lg) {
    grid-area: service4;
  }
}

.info {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.title {
  font-size: 32px;
  line-height: 1.4;
  color: $textColor;

  @include breakpoint(md) {
    font-size: 48px;
  }
}

.description {
  font-size: 18px;
  color: $textColor;
  flex-grow: 1;

  @include breakpoint(md) {
    font-size: 24px;
  }
}

.button {
  max-width: max-content;
  margin-top: 12px;
}

.image {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $borderRadius4;
  background: $backgroundColor3;

  img {
    border-radius: $borderRadius4;
  }
}