@import "@styles/vars";

.section {
  padding: 0 0 30px;

  @include breakpoint(lg) {
    padding: 0 0 60px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include breakpoint(lg) {
    flex-direction: row;
    align-items: flex-start;

    .sectionHeader {
      text-align: left;
      align-items: flex-start;

      > div {
        align-items: flex-start;
      }
    }
  }
}

.infoCards {
  margin-top: 30px;
  justify-content: center;

  @include breakpoint(lg) {
    justify-content: flex-start;
  }
}

.advantages {
  @include breakpoint(lg) {
    width: 50%;
  }
}
