@import "@styles/vars";

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
}

.card {
  width: 100%;
  background: $cardColor;
  border-radius: $borderRadius2;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include breakpoint(sm) {
    width: calc(50% - 10px);
  }
  @include breakpoint(lg) {
    width: calc(33% - 10px);
  }
}

.cardTitle {
  font-size: 24px;
  color: white;
  font-weight: 800;
}

.cardDescription {
  text-align: center;
  font-size: 18px;
}
