@import "@styles/vars";

.wrapper {
  background-color: $surfaceColor;
  border-bottom: .4px solid $borderColor;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.content {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;

  @include breakpoint(sm) {
    gap: 32px;
  }
  @include breakpoint(lg) {
    gap: 48px;
  }
}