@import "@styles/vars";

.wrapper {
  height: 80px;
  background-color: $surfaceColor;
  border-bottom: .4px solid $borderColor;
  display: flex;
  position: relative;
  z-index: 1;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 20px;

  @include breakpoint(sm) {
    gap: 32px;
  }
  @include breakpoint(lg) {
    gap: 48px;
  }
}