@import "@styles/vars";

.wrapper {
  height: 80px;
  background-color: $surfaceColor;
  border-bottom: .4px solid $borderColor;
  display: flex;
  position: relative;
  z-index: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 48px;
}

.logo {
  cursor: pointer;
  max-width: 162px;
  width: 100%;
}