@import "@styles/vars";

.wrapper {
  position: relative;
  z-index: 0;
  width: 100%;

  &::before, &::after {
    position: absolute;
    content: '';
    display: block;
    overflow: hidden;
    left: -1px;
    right: -1px;
    transition: $transition2 ease;
    z-index: -1;
  }

  &.topDirection {
    &::after {
      top: -1px;
      bottom: 0;
      background: linear-gradient(
                      to top,
                      rgba(var(--gradient-color-r), var(--gradient-color-g), var(--gradient-color-b), 0),
                      rgba(var(--gradient-color-r), var(--gradient-color-g), var(--gradient-color-b), 0.1),
                      var(--gradient-color)
      );
    }
  }

  &.bottomDirection {
    &::before {
      bottom: -1px;
      top: 0;
      background: linear-gradient(
                      to bottom,
                      rgba(var(--gradient-color-r), var(--gradient-color-g), var(--gradient-color-b), 0),
                      rgba(var(--gradient-color-r), var(--gradient-color-g), var(--gradient-color-b), 0.1),
                      var(--gradient-color)
      );
    }
  }

  &.bothDirection {
    &::after {
      top: -1px;
      bottom: 0;
      background: linear-gradient(
                      to top,
                      rgba(var(--gradient-color-r), var(--gradient-color-g), var(--gradient-color-b), 0),
                      rgba(var(--gradient-color-r), var(--gradient-color-g), var(--gradient-color-b), 0.1),
                      var(--gradient-color) 110%
      );
    }

    &::before {
      bottom: -1px;
      top: 0;
      background: linear-gradient(
                      to bottom,
                      rgba(var(--gradient-color-r), var(--gradient-color-g), var(--gradient-color-b), 0),
                      rgba(var(--gradient-color-r), var(--gradient-color-g), var(--gradient-color-b), 0.1),
                      var(--gradient-color) 110%
      );
    }
  }

  &.sxBorderRadius {
    &::before, &::after {
      border-radius: $borderRadius1;
    }
  }
  &.smBorderRadius {
    &::before, &::after {
      border-radius: $borderRadius2;
    }
  }
  &.mdBorderRadius {
    &::before, &::after {
      border-radius: $borderRadius3;
    }
  }
  &.lgBorderRadius {
    &::before, &::after {
      border-radius: $borderRadius4;
    }
  }
}