@import "@styles/vars";

.wrapper {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #3D4144;
}

.text {
  color: $textColor10;
  line-height: 1.5;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  & > a, & > span {
    padding: 8px 0;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    color: $textColor2;
  }
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 22px;
}