@import "@styles/vars";

.wrapper {
  display: inline-block;
  -webkit-text-fill-color: transparent;

  &.isPrimaryColor {
    background: linear-gradient(to right, $primaryColor, $accentColor);
    -webkit-background-clip: text;
  }

  &.isSecondaryColor {
    background: linear-gradient(to right, $fourthColor, $sixthColor);
    -webkit-background-clip: text;
  }
}