@import "@styles/vars";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &.leftPosition {
    align-items: flex-start;
  }

  &.centerPosition {
    align-items: center;
  }

  &.rightPosition {
    align-items: flex-end;
  }
}


.title {
  font-size: 32px;
  line-height: 1.4;
  color: white;

  @include breakpoint(md) {
    font-size: 40px;
  }
}

.subTitle {
  font-size: 24px;
}