@import "@styles/vars";

.heroSection {
  overflow: hidden;
}

.content {
  position: relative;
}

.imageWrapper {
  position: relative;
}

.image {
  position: absolute;
  top: -80px;
  right: -200px;
  width: 800px;
  z-index: -1;

  @include breakpoint(md) {
    top: -150px;
    right: -300px;
    width: 1000px;
  }
}

.contentWrapper {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-top: 65px;

  @include breakpoint(md) {
    gap: 48px;
    margin-top: 130px;
  }
}