@import "@styles/vars";

.section {
  &.isOurWorkPage {
    position: relative;
    padding-top: 260px;
  }
}

.topBgImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
  height: 188px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 32px;
  line-height: 1.4;
  color: white;
  margin-bottom: 32px;
  text-align: center;

  @include breakpoint(md) {
    font-size: 40px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 40px;

  .page {
    border-radius: 50%;
    overflow: hidden;
    transition: $transition2 ease;

    a {
      cursor: pointer;
      height: 48px;
      width: 40px;
      min-width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 500;
      color: $textColor;
    }

    &.selected {
      background: $primaryColor;
      color: white;
    }

    &:hover {
      background: $primaryColor;
    }
  }

  :global {
    .selected {
      background: $primaryColor;
    }

    .next,
    .previous {
      min-width: 48px;
      height: 48px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;

      &.disabled {
        cursor: initial;

        a {
          color: $textColor;
          pointer-events: none;
          opacity: .5;
        }

        &:hover {
          background: transparent;
        }
      }

      a {
        font-size: 30px;
        font-weight: 300;
        color: $primaryColor;
      }

      &:hover {
        a {
          color: $textColor;
        }
      }
    }
  }

  @include breakpoint(md) {
    gap: 20px;
  }
}

.categoryWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 48px;

  .category {
    border-radius: 30px;
    padding: 6px 10px 6px 4px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: capitalize;
    background-color: $cardColor;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
    border: 1px solid $cardColor;

    &.active{
      border-color: $primaryColor;
    }

    &:disabled{
      opacity: 0.7;
      cursor: default;
    }

    .uppercase {
      text-transform: uppercase;
    }
  }

  .icon {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 20px;
      height: 20px;
    }
  }
}