@import "@styles/vars";

.wrapper {
  padding: 16px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include breakpoint(md) {
    padding: 32px 0 48px;
  }
}

.listItem {
  display: flex;
  align-items: center;
  gap: 10px;
}